body{
	margin: 0;
	background-image: url('/pictures/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#clock-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#clock{
	font-family: monospace;
	font-size: 6.5rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
	backdrop-filter: blur(1px);
	border-radius: 2rem;
	background-color: rgba(50, 50, 50, 0.5);
	padding: .5rem;
}